@import "tailwindcss";

@theme {
  --color-primary: #6366f1;
  --color-secondary: #db2777;
  --color-tertiary: #16a34a;
}

body {
  font-family: 'Inter', sans-serif;
}

::selection {
  background-color: var(--color-primary);
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}

.dark ::-webkit-scrollbar-thumb {
  background: #475569;
}
